<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">PeliculasApp</h1>
    <p class="lead">ESTA ES UNA APLICACION DE PELÍCULAS.</p>
  </div>
</div>

<div class="container">
  <br>

  <app-galeria [peliculas]="movieCartelera|slice:0:6" titulo="Peliculas en Cartelera"></app-galeria>

  <app-galeria [peliculas]="moviPopular|slice:0:6" titulo="Populares"></app-galeria>
  <app-galeria [peliculas]="moviPopularKids|slice:0:6" titulo="Populares entre los mas pequeños"></app-galeria>



</div>
